#about {
  position: relative;
  width: 100vw;
  min-height: inherit;
  text-align: center;
  background: url(../../img/about/bg-white.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#about img {
  width: 80%;
}
#about .profile {
  padding: 50px 0 30px 0;
}
#about .profile-summary {

}
#about .profile .links {
  margin: 10px 0 10px 0;
}
#about .skill-set {
  
}
#about .skill-set .skill {

}
#about .skill-set .skill:first-child,
#about .skill-set .skill:nth-child(2) {
  margin-right: 30px;
}
