
.next img{
    margin-left: 1em;
    width: 1.2em;
    height: 1.2em;
}
.next p {

}
.left {
}
.right {
}
.right h4 {
    text-align: right;
}
.next img {
    vertical-align: middle;
}
.next h4 {
    display: inline-block;
}
.left img, .left h4 {
    float: left;
}
.right img, .right h4 {
    float: right;
}

#next {
    width: 100vw;
}
.next-wrapper {
    margin: 0 7.14%;
    padding: 1.2em 0;
}
.home {
    font-size: 1em;
}
.endbox {
    width: 3em;
    height: 0.5em;
    background-color: black;
    margin: 3em auto 5em auto;
}
