body {
    width: 100vw;

}


.profile-container {
    margin: 4.5em 7.14% 1.5em 7.14%;
}
.profile-text {
   padding: 2em 2em;
}
.sans {
    font-size: 1.1em;
}
.highlight {
    border-bottom: 3px solid #6eb8d0;
}
@media only screen and (max-width: 955px) {
    .profile-text {
        padding: 0.5em;
    }
}