body {
    width: 100vw;
}
.icon {
    width: 2em;
    padding: 1.5em 3em;
    position: fixed;
}
.profile-img {
    width: 19em;
}
.profile-container {
    padding: 3em
}
.profile-name {
    font-family: 'Francois One', 'Lato', 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 3em;
    /*color: #4A4A4A;*/
    letter-spacing: 0.05em;
}
.profile-text {
    font-family: 'PT Sans', sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
    padding: 0em 0 1em 0;
    color: #4A4A4A;
    font-style: italic;
    letter-spacing: 0.05em;
}
.highlight {
    border-bottom: 3px solid #6eb8d0;
}

#home .half {
    padding: 0;
}
.fixed {
    position: fixed;
}
.home-left{
    margin-top: 15vh;
}
.menu-item a{
    color: #949494;

}
.menu-item a:hover, .menu-item a:active{
    color: black;
}
.cereal {
    padding-top: 1em;
}
.cereal .quarter {
    min-width: 100px;
}
.cereal .quarter img {
    border-radius: 50%;
}
.about-inner{
    padding: 3em 0 ;
}

@media only screen and (max-width: 955px) {
    .fixed {
        width: 350px;
    }
}
@media only screen and (max-width: 768px) {
    .fixed {
        position: relative;
    }
    .icon, .profile-container {
        padding-left: 7.14%;
    }
    .icon {
        position: relative;
        padding-bottom: 0;
    }
    .home-left{
        margin-top: 15vh;
    }
    .profile-name {
        font-size: 2em;
    }
    .profile-text {
        font-size: 1em;
        padding: 0.3em 0 1em 0;
    }
}