body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* Font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Asul|Noto+Sans');
a, h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
    color: Black;
    margin: 0;
}
p, li {
    font-family: 'Open Sans', sans-serif;
}
p, li {
    color: #4A4A4A;
    font-size: 0.85em;
}
.bigP {
    font-size: 1.0em;
}
h1 {
    letter-spacing: 0.1em;
}
h2 {
    letter-spacing: 0.08em;
}
h3 {
    letter-spacing: 0.08em;
}
h4 {
    letter-spacing: 0.04em;
}
a {
    text-decoration: none;
}
a.link {
    border-bottom: solid 3px #e2e2e2;
}
a.link:hover {
    border-bottom: solid 3px #6eb8d0;
}
.bold {
    font-weight: 900;
}
.container.small b {
    background-color: rgba(180, 226, 230, 0.81);
    font-weight: normal;
}
/*** Reset ***/
body {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}

/*** Body Size ***/
.container {
    width: 80vw;
    min-width: 310px;
    margin: 0 auto;
}
.container.small {
    width: 60vw;
}
@media only screen and (max-width: 768px) {
    .container.small {
        width: 80vw;
    }
}
.wrapper {
    width: 60vw;
    min-width: 310px;
    margin: 0 auto;
}

.section {
    padding-top: 52px;
}

/*** Grid Layout ***/

/* Flex */

.flex {
    display: flex;
    flex-wrap: wrap;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-start {
    justify-content: flex-start;
}
.justify-around {
    justify-content: space-around;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items: flex-start;
}
.align-bottom {
    align-items: flex-end;
}
.child-bottom {
    align-self: flex-end;
}

/* Size */
.full {
    width: 100%;
    min-width: 310px;
}
.quarter, .third, .half, .forty, .sixty, .eighty {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
}
.quarter {
    width: 22%;
    min-width: 150px;
    padding: 0.3em;
}
.third {
    width: 31%;
    min-width: 200px;
    padding: 0.4em;
}
.half {
    width: 47%;
    min-width: 300px;
    padding: 0.7em;
}
.forty {
    width: 35%;
    min-width: 200px;
    padding: 0 0.7em;
}
.sixty {
    width: 57%;
    min-width: 310px;
    padding: 0 1em;
}
.eighty {
    width: 80%;
    min-width: 310px;
}
.bare-right {
    padding: 0 0.7em 0 0;
}
.space-up {
    padding-top: 1em;
}

/* Align */
.center {
    display: block;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/* Text decoration */
.caption {
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
    margin-top: 1px;
}
.title {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    font-size: 1em;
}
.heading {
    padding: 10px 0;
    border-top: 1px solid #C9C9CE;
}
.padding10 {
    padding: 0 10px;
}

/* Video setting*/
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Button Setting */
.button-wrapper {
    text-align: center;
}
.button.expand {
    margin: 3em auto 0 auto;
    padding: 1em 3em;
}

/* Space decoration */
.left-bar {
    border-left: solid 1px grey;
}
.bg-grey {
    background-color: #e2e2e2;
}
.inner { /* smaller contents area within chapters */
    margin: 0 0.7em;
}
.upper  {
    padding-top: 1em;
}
.underline {
    border-top: solid 1px grey;
}