body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
/* Font */
@import url('https://fonts.googleapis.com/css?family=Lora|PT+Sans|Francois+One|Libre+Franklin|Questrial|}');
h1, h2, h3, h4, h5, .bg-grey {
    font-family: 'Francois One', 'PT Sans', sans-serif;
    color: Black;
    margin: 0;
}

a {
    color: Black;
    margin: 0;
}
p, li {
    font-family: 'Lora', 'PT Sans', sans-serif;
}
.meta p, .meta li, .meta a, .caption, .subtitle, .job, .sans {
    font-family: 'PT Sans', sans-serif;
}
p.intro {
    font-family: 'Questrial', 'Lora', 'PT Sans', sans-serif;
}
p, li {
    color: #4A4A4A;
    font-size: 1em;
    line-height: 1.4;
}
.bigP {
    font-size: 1.0em;
}
h1 {
    letter-spacing: 0.1em;
}
h2 {
    letter-spacing: 0.08em;
}
h3 {
    letter-spacing: 0.08em;
}
h4 {
    letter-spacing: 0.04em;
}
a {
    text-decoration: none;
}
a.link {
    border-bottom: solid 3px #e2e2e2;
}
a.link:hover {
    border-bottom: solid 3px #6eb8d0;
}
.bold {
    font-weight: 900;
}
.container.small b {
    /*background-color: rgba(180, 226, 230, 0.81);*/
    font-weight: 900;
    color: #6eb8d0;
}
/*** Reset ***/
body {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}

/*** Body Size ***/
.container {
    width: 80vw;
    min-width: 310px;
    margin: 0 auto;
}
.container.small {
    width: 70vw;
}
.hero-mobile {
    display: none;
}

@media only screen and (max-width: 955px) {
    .container {
        width: 90vw;
    }
    .container.small {
        width: 90vw;
    }

}
@media only screen and (max-width: 768px) {
    .hero-desktop {
        display: none;
    }
    .hero-mobile {
        display: block;
    }
}

.wrapper {
    width: 60vw;
    min-width: 310px;
    margin: 0 auto;
}

.section {
    padding-top: 52px;
}

/*** Grid Layout ***/

/* Flex */

.flex {
    display: flex;
    flex-wrap: wrap;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-start {
    justify-content: flex-start;
}
.justify-around {
    justify-content: space-around;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items: flex-start;
}
.align-bottom {
    align-items: flex-end;
}
.child-bottom {
    align-self: flex-end;
}

/* Size */
.full {
    width: 100%;
    min-width: 310px;
}
.quarter, .third, .half, .forty, .sixty, .eighty {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
}
.quarter {
    width: 22%;
    min-width: 150px;
    padding: 0.3em;
}
.third {
    width: 31%;
    min-width: 200px;
    padding: 0.4em;
}
.half {
    width: 47%;
    min-width: 300px;
    padding: 0.7em;
}
.forty {
    width: 35%;
    min-width: 200px;
    padding: 0 0.7em;
}
.sixty {
    width: 57%;
    min-width: 310px;
    padding: 0 1em;
}
.seventy {
    width: 67%;
    min-width: 310px;
    padding: 0 1em;
}
.eighty {
    width: 80%;
    min-width: 310px;
}

@media only screen and (max-width: 768px) {
    .sixty {
        width: 100%;
    }

}

.bare-right {
    padding: 0 0.7em 0 0;
}
.space-up {
    padding-top: 1em;
}
.no-space-up {
    margin-top: 0;
}

/* Align */
.center {
    display: block;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/* Text decoration */
.caption {
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
    margin-top: 1px;
}
.title {
    font-weight: 800;
    margin: 0.5em 0 0.5em 0;
    font-size: 1.2em;
    font-family: 'Francois One', 'Open Sans', sans-serif;
    color: #4A4A4A;
}
.heading {
    padding: 10px 0;
    /*
    border-top: 1px solid #C9C9CE;*/
    text-align: center;
    font-size: 1.8em;
    font-family: 'Francois One', 'Open Sans', sans-serif;
}
.padding10 {
    padding: 0 10px;
}

/* Video setting*/
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Button Setting */
.button-wrapper {
    text-align: center;
}
.button.expand {
    margin: 3em auto 0 auto;
    padding: 1em 3em;
}

/* Space decoration */
.left-bar {
    border-left: solid 1px grey;
}
.bg-grey {
    background-color: #e2e2e2;
}
.inner { /* smaller contents area within chapters */
    margin: 0 0.7em;
}
.upper  {
    padding-top: 1em;
}
.underline {
    border-top: solid 1px grey;
}

/* Work */
.meta {
    font-size: 0.9em;
}
.meta .third {
    width: 15%;
    margin: 0 1em 0 1em;
    padding: 0.4em;
}
.meta .third p {
    margin-top: 0;
}
.meta .third p.first {
    margin-bottom: 1.4em;
}
.meta .third p.second {
    margin-bottom: 0;
}
.meta .third ul {
    padding: 0 0 0 1em;
}
.meta-head {
    padding: 0 0 0 1.5em;
    border-left: 2px solid #9b9b9b;
    font-weight: 800;
    color: #9b9b9b;
}
p.subtitle {
    margin: 0.7em 0 0.4em 0;
    font-weight: 900;
    color: #9b9b9b;

}
.bg-gradient {
    width: 100vw;
}
.bigTitle {
    position: relative;
    top: -4em;
    background: white;
    border-radius: 1.2em 1em 0 0;
    padding: 4em 0 0 0;
}
.meta {
    position: relative;
    top: -2em;
}
.summary {
    padding: 0 0.5em 0 0.5em;
}