.bigTitle {
    padding-top: 1vh;
}
.bigTitle .role{
    margin: 0.5em 0 0.1em 0;
}
.bigTitle .subtitle {
    margin: 0 0 3em 0;
}
.bigTitle .type {
    padding-bottom: 1em;
}
.bigTitle span {
    border-top: 2px solid #4A4A4A;
    font-weight: 900;
}
.spark-wrapper {
    position: relative;
    margin-top: 1em;
}
.spark {
    width: 3em;
    position: absolute;
    left: 5em;
    top: 0.5em;
}
.arrow-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 1.2em;
    justify-content: center;
}
.arrow {
    display: inline-block;
    font-size: 0.85em;
    padding: 0.3em 0 0.3em 0.4em;
    background-color: #e2e2e2;
    position: relative;
    margin: 0.2em 2em 1em 0;
}
.arrow:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #e2e2e2;
    border-width: 1em;
    margin-top: -1em;
}
.arrow:last-child:before {
    border: none;
}
.arrow:last-child {
    padding: 0.3em 0.4em 0.3em 0.4em;
}
.arrow:hover {
    background-color: #ffb1cb;
}
.arrow:hover::before {
    border-left-color: #ffb1cb;
}