.myworks {
    text-align: center;
    padding: 2em 0 1em 0;
    position: relative;
}
.myworks h3 span{
    background: white;
}
.myworks h3 span:before, .myworks h3 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 3.1em;
    width: 30%;
    height: 2px;
    border-bottom: 2px solid black;
}
.myworks h3 span:after {
    left: 70%;
}
.filter {
    border:none;
    background: none;
    cursor: pointer;
}
.filter:focus {
    outline: 0;
}
.filter p.focused span {
    color: #FE6C61;
    border-top: 2px solid #FE6C61;
}
.filter:focus span {
    color: #FE6C61;
    border-top: 2px solid #FE6C61;
}
.filter:hover span {
    border-top: 2px solid #4A4A4A;
}
.filter:focus:hover span {
    border-top: 2px solid #FE6C61;
}
.filter p {
    font-family: 'Lato';
    font-size: 1em;
    padding: 0 1em;
    font-weight: bold;
}
.filter:first-child p {
    padding-left: 0;
}
.filter:last-child p {
    padding-right: 0;
}
.Research, .Design, .Prototype {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    display: none;
}
.active {
    display: block;
}
.Prototype {
}

.docs {
}
