.piece  {
    margin: 0;

}
.image-wrapper {
    padding: 2.5em 0 0 0;
}
.piece-img {
    margin: 0 auto;
    min-width: 260px;
    flex-grow: 1;
}
.piece-img img {
    display: block;
    height: auto;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

}
.piece:hover {
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);
}



.piece-summary {
    padding: 1.3em 2em 2.3em 2em;
}
.piece-tag {
    margin: 0;
}
.piece-title {
    font-family: 'Lato', 'PT Sans', sans-serif;
}
.piece-tag {
    font-family: 'Lato', 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 0.9em;
    padding: 0.3em 0 1em 0;
}

@media only screen and (max-width: 955px) {
}

.docs.piece {
    background-image: linear-gradient(-145deg, #77D1FF 3%, #57A6FF 89%);
}
.bslide.piece {
    /* bg: */
    background-image: linear-gradient(-148deg, #D28CCE 2%, #6DCBFF 100%);
}
.logue.piece {
    background-color: #E5E5E5;
}
.emo.piece {
    /* Rectangle 4: */
    background-image: linear-gradient(-22deg, #FFA4DB 0%, #FFC0A6 100%);
}