.piece  {
    border: 2px solid black;
    margin: 1em 0;

}
.piece-half {
    width: 45%;
    margin: 0;
    min-width: 260px;
    flex-grow: 1;
}
.piece-half img {
    display: block;
    height: auto;
    min-height: 256px;
    filter: grayscale(0%);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.piece:hover .piece-half img {
    filter: grayscale(90%);
}
.piece-summary {
    padding: 1em 2em 2em 1.5em;
    position: relative;
    min-height: 13em;
}
.piece-summary span {
    border-top: 2px solid #4A4A4A;
    font-weight: 900;
}
.piece-summary .piece-title {
    font-weight: 800;
}
.piece-summary .summary-bottom {
    position: absolute;
    bottom: 0;
    padding: 1em 1.2em 1em 0;
}