#nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 999;
    width: 100vw;
}
.nav-wrapper {
    width: 60%;
    margin: 0 auto;
}
@media only screen and (max-width: 768px) {
    .nav-wrapper {
        width: 100%;
    }
}
.icon {
    padding: 0.5em;
}
.icon:first-child {
    padding-left: 0.8em;
}
.icon:last-child {
    padding-right: 0.8em;
}
.icon img{
    height: 30px;
    width: auto;
}