.name, .job, .menu-item {
    display: inline-block;
}
.name {
    font-size: 1.2em;
}
.job {
    color: #9b9b9b;
    font-size: 0.9em;
    padding-left: 1.5em;
}

.nav-wrapper {
    margin: 0 7.14%;
}
.menu-item {
    margin-right: 1.1em;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 999;
    width: 100vw;
    padding: 1.2em 0;
}
.hidden {
    display: none;
}
@media only screen and (max-width: 955px) {
    .job, .name {
        display: none;
    }
    .hidden {
        display: block;
    }
}
